@tailwind base;
@tailwind components;
@tailwind utilities;

body,
a {
  @apply cursor-[url(/default.png)_4_4,pointer];
}

.grid-container {
  @apply flex flex-col md:grid md:auto-rows-auto md:grid-cols-[repeat(12,1fr)];
}

.figure {
  @apply transition-[400ms];
}

.grid-container:hover > .figure:not(:hover) {
  @apply blur-[10px];
}

.blurred {
  @apply blur-[10px];
}

.burger {
  @apply relative w-7 md:w-10 h-[25px] cursor-[url(/default.png)_4_4,pointer] block bg-transparent;
}

.burger input {
  @apply hidden;
}

.burger span {
  @apply block absolute h-1 w-full opacity-100 bg-[#2d8d5c] rotate-0 duration-[500ms] ease-in-out rounded-[9px] left-0;
}

.burger span:nth-of-type(1) {
  @apply origin-[left_center] top-0;
}

.burger span:nth-of-type(2) {
  @apply -translate-y-2/4 origin-[left_center] top-2/4;
}

.burger span:nth-of-type(3) {
  @apply origin-[left_center] -translate-y-full top-full;
}

.burger input:checked ~ span:nth-of-type(1) {
  @apply rotate-45 left-[5px] top-0;
}
.burger input:checked ~ span:nth-of-type(2) {
  @apply w-[0%] opacity-0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.navMenu {
  @apply absolute shadow-lg bg-logo bg-cover bg-center top-9 right-[45px] md:right-[85px] h-auto w-[177px] z-[99] transition-all duration-200 ease-in;
}

/* BLOG CONTENT css  */
.recipeDetail h3 {
  @apply text-3xl font-bold mt-8 text-[#2d8d5c];
}

.recipeDetail h4 {
  @apply font-semibold my-3 text-black text-xl;
}

.recipeDetail ol li {
  @apply list-decimal text-xl translate-x-5 mb-2;
}

.recipeDetail ul li {
  @apply list-disc list-inside text-xl;
}
